<ion-header class="tbar">
  <ion-toolbar>
    <ion-title class="ttitle">
      GLICOSE
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content> 
  <ion-card class="corpocardsujeito">
    <div class="fotoscard">
    <img src="assets/img/teste.jpg"/>
    </div>
    <ion-card-content>          
      <div class="alinhamentotexto">         
        <p class="cardtextosujeito"> Nome:</p>
        <p class="cardtextosujeito"> Idade:</p>
        <p class="cardtextosujeito"> Altura:</p>
        <p class="cardtextosujeito"> Telefone:</p>
      </div>      
    </ion-card-content>
  </ion-card>
  <div>
    <p class="subt">Glicose</p>
  </div>
  <ion-card class="cad">
    <ion-card-content>
      <div class="func">
        <img src="/assets/icon/glicose.svg" />
        <P>GLICOSE</P>
      </div>
      <!--dados que serão uteis para o histórico e comparativo-->
      <div class="form">
      <ion-input class="dado" placeholder="Glicose"></ion-input>
      <ion-input class="dado" placeholder=""></ion-input>
      <ion-input class="dado" type="date" placeholder="Data"></ion-input>
      <div class="salvar"> 
        <img src="/assets/icon/Salvar.svg"/>
      </div>
      </div>


    </ion-card-content>
  </ion-card>

</ion-content>
