<ion-content>

  <ion-slides pager="true">

    <ion-slide class="slide1">
        <ion-img src="/assets/slidePic/"></ion-img>
        <h1>Bem vindo ao MedSenac</h1>
        <p>Arraste para o lado e conheça mais sobre o aplicativo.</p>
        <p>Para pular o tutorial aperte "Pular".</p>
        <ion-button color="black" (click)="finish()">Pular</ion-button>

    </ion-slide>

    <ion-slide class="slide2">
        <ion-img src="/assets/slidePic/Menu1.svg"></ion-img>
        <h1>Menu Principal</h1>
        <p>Localizado na parte inferior, o menu principal ajuda você a navegar de forma rápida e simples pelo aplicativo.</p>
        <p>Suas funções São:</p>
    </ion-slide>

    <ion-slide class="slide3">

        <ion-img src="/assets/slidePic/home.svg"></ion-img>
        <h1>Página inicial</h1>
        <p>Nela você encontrará um card com suas informações.</p>
        <ion-img src="/assets/slidePic/cardUser1.svg"></ion-img>
        <p>E informações sobre os ultimos pacientes cadastrados.</p>
        <ion-img src="/assets/slidePic/cardPaci.svg"></ion-img>

    </ion-slide>

    <ion-slide class="slide4">
        <ion-img src="/assets/slidePic/paciente.svg"></ion-img>
        <h1>Sujeitos Cadastrados</h1>
        <p>Você pode procurar sujeitos casdastrados clicando em:</p>
        <ion-img src="/assets/slidePic/lupa.svg"></ion-img>
        <p>e ver informações dos sujeitos clicando no card dos mesmos.</p>
        <ion-img src="/assets/slidePic/listPaci.svg"></ion-img>
    </ion-slide>

    <ion-slide class="slide5">
        <ion-img src="/assets/slidePic/mais.svg"></ion-img>
        <h1>Cadastrar Sujeito</h1>
        <p>Preencha as informações solicitadas para cadastrar um novo sujeito.</p>
        <p>Clique em CADASTRAR para validar o cadastro.</p>
    </ion-slide>

    <ion-slide class="slide6">
        <ion-img src="/assets/slidePic/help.svg"></ion-img>
        <h1>Ajuda</h1>
        <p>Nesta Página você pode rever esse tutorial a qualquer momento.</p>
        <p>Além de encontrar mais informações sobre o MedSenac.</p>
    </ion-slide>

    <ion-slide class="slide7">
        <ion-img src="/assets/slidePic/sair.svg"></ion-img>
        <h1>Sair</h1>
        <p>Clique em sair caso deseja mudar de conta.</p>
        <p>Ao confirmar você será direcionado para tela de login.</p>
    </ion-slide>

    <ion-slide class="slide8">
        <h1>Pagina Sujeito</h1>
        <p>Clique nos cards do sujeito localizado na página SUJEITOS CADASTRADOS ou na tela inicial caso o mesmo tenha sido cadastrado a pouco tempo.</p>
        <ion-img src="/assets/slidePic/listPaci.svg"></ion-img>   
    </ion-slide>

    <ion-slide class="slide9">
        <h1>Pagina Sujeito</h1>
        <p>Para editar as informações do sujeito aperte em: </p>
        <ion-img src="/assets/slidePic/lapis.svg"></ion-img>   
    </ion-slide>

    <ion-slide class="slide10">
        <h1>Pagina Sujeito</h1>
        <p>Para calcular o IMC do sujeito aperte em: </p>
        <ion-img src="/assets/slidePic/imc.svg"></ion-img>
        <p>Para salvar as informações de GLICOSE do sujeito aperte em: </p>
        <ion-img src="/assets/slidePic/Glicose.svg"></ion-img>   
        <p>Para salvar as informações da pressão media arterial do sujeito aperte em: </p>
        <ion-img src="/assets/slidePic/pam.svg"></ion-img>      
    </ion-slide>


    <ion-slide class="slide11">
        
        <h1>Pagina Sujeito</h1>
        <p>Para gerar um comparativo das ultimas informações do sujeito armazenadas no aplicativo clique em COMPARATIVO</p>
        <ion-img src="/assets/slidePic/Comparativo.svg"></ion-img>
        <p>Para ver as ultimas informações do sujeito armazenadas no aplicativo clique em HISTÓRICO</p>
        <ion-img src="/assets/slidePic/Historico.svg"></ion-img>
             
    </ion-slide>

    <ion-slide class="slide12">
        <ion-img src="/assets/slidePic/ir.svg"></ion-img>
        <h1>Comece a usar</h1>
        <p>Clique em FINALIZAR para começar a usar o aplicativo</p>
        <p>lembrer-se: você pode repetir esse tutorial a quelquer momento em:</p>
        <ion-img src="/assets/slidePic/help.svg"></ion-img>
        <ion-button color="black" (click)="finish()">fINALIZAR</ion-button>
             
    </ion-slide>






</ion-slides>

</ion-content>
