<ion-header class="tbar">
  <ion-toolbar>
    <ion-title class="ttitle">
      EDIÇÃO DE SUJEITO
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-card class="cad">
    <ion-card-content>
      
      <h1>Editar Sujeito</h1>
      <div class="imgsuj">
      <img src="assets/img/usuario.svg" alt="sujeito" width="60%">
      </div>

      <!--formulário para cadastro de cliente-->
      <div class="form">
      <ion-input class="dado" placeholder="Nome completo"></ion-input>
      <ion-input class="dado" placeholder="Idade"></ion-input>
      <ion-input class="dado" placeholder="Atura"></ion-input>
      <ion-input class="dado" placeholder="Telefone"></ion-input>
      <div class="botao">
      <button class="botaocad">Cancelar</button>
      <button class="botaocad">Confirmar</button>
    </div>
      </div>


    </ion-card-content>
  </ion-card>
  
 
</ion-content>