<ion-tabs class="cima">

  <ion-tab-bar slot="bottom">
    <ion-tab-button  tab="home">
      <ion-icon class="icones" src="assets/icon/home.svg" style="margin-bottom: -2px;"></ion-icon>      
    </ion-tab-button>
    
    <ion-tab-button  tab="list-paciente">
        <ion-icon class="icones" src="assets/icon/lista.svg"></ion-icon>        
      </ion-tab-button>

    <ion-tab-button tab="cadastrar">
      <ion-icon class="iconedestaque"  src="assets/icon/cadastrar.svg"  style="margin-bottom: 5px;"></ion-icon>    
    </ion-tab-button>
    
    <ion-tab-button tab="sobre">
      <ion-icon class="icones" src="assets/icon/tutorial.svg"></ion-icon>    
    </ion-tab-button>

    <ion-tab-button tab="logout">
      <ion-icon class="icones" src="assets/icon/logout.svg" style="margin-bottom: -2px;"></ion-icon>    
    </ion-tab-button>
    
  </ion-tab-bar>

</ion-tabs>
