<ion-header class="tbar">
  <ion-toolbar>
    <ion-title class="ttitle">
     
      PESQUISA
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
<ion-input class="pesquisar" placeholder="Pesquisar sujeito" ></ion-input>

<div>
  <p class="subt">Sujeitos Cadastrados</p>
</div>


  <!-- Card para ser usado no ngfor dos sujeitos-->
  <ion-item-sliding *ngFor="let paciente of pacientes">
    <ion-item button [routerLink]="['/pacientedetalhe',paciente.id]">
  <ion-card class="corpocardsujeito"  >
  

    <div class="fotoscard">
    <img [src]="paciente.picture"/>
    </div>
    <ion-card-content >          
      <div class="alinhamentotexto">         
        <p class="cardtextosujeito"> Nome: {{paciente.name}} </p>
        <p class="cardtextosujeito"> Idade:{{paciente.birthdate}}</p>
        <p class="cardtextosujeito"> Altura: {{paciente.height}}</p>
        <p class="cardtextosujeito"> Telefone: {{paciente.phone}} </p>

      </div>      
    </ion-card-content >
 
  </ion-card>
</ion-item>
<ion-item-options side="end">
  <ion-item-option color="danger" (click)="deletePaciente(paciente.id)">
      <ion-icon slot="top" name="trash"></ion-icon>
      Excluir
  </ion-item-option>
  <ion-item-option color="primary" [routerLink]="['/editsujeito', paciente.id]">
    <ion-icon slot="top" name="build"></ion-icon>
    Editar
  </ion-item-option>
</ion-item-options>
</ion-item-sliding>

  
</ion-content>
