<ion-header class="tbar">
  <ion-toolbar>
    <ion-title class="ttitle">
      CADASTRO DE SUJEITOS
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-card class="cad">
    <ion-card-content>
      
      <h1>Cadastrar Sujeito</h1>
      <div class="imgsuj">
      <ion-input [(ngModel)]="paciente.picture" alt="sujeito" width="60%"><ion-icon name="camera"></ion-icon></ion-input>
      </div>

      <!--formulário para cadastro de cliente-->
      <div class="form">
      <ion-input class="dado" [(ngModel)]="paciente.name" placeholder="Nome completo"></ion-input>
      <ion-input class="dado" [(ngModel)]="paciente.birthdate" placeholder="Idade"></ion-input>
      <ion-input class="dado" [(ngModel)]="paciente.height" placeholder="Atura"></ion-input>
      <ion-input class="dado" [(ngModel)]="paciente.phone" placeholder="Telefone"></ion-input>
      <button class="botaocad" (click)="savePaciente()" routerLink="/tabs/home" >Cadastrar</button>
      </div>


    </ion-card-content>
  </ion-card>
  
 
</ion-content>