<ion-header class="tbar">
  <ion-toolbar>
    <ion-title class="ttitle">
      EDIÇÃO DE CADASTRO
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-card class="cad">
    <ion-card-content>
      <h1>Editar Usuário</h1>
      <div class="imgsuj">
      <img src="assets/img/usuario.svg" alt="sujeito" width="60%">
      </div>
      <!--formulário para edição de usuário-->
      <div class="form">
        <!--Colocar em vez de placeholder o valor igual a o fornecido pelo id -->
      <ion-input class="dado" placeholder="Usuário"></ion-input>
      <ion-input class="dado" type="password" placeholder="Senha"></ion-input>
      <ion-input class="dado" placeholder="Turno"></ion-input>
      <ion-input class="dado" placeholder="Tipo"></ion-input>
      <ion-input class="dado" placeholder="Turma"></ion-input>
      <button class="botaocad">Cancelar</button>
      <button class="botaocad">Confirmar</button>
      </div>


    </ion-card-content>
  </ion-card>
  
 
</ion-content>
